streamlit==1.18.0
altair_saver==0.5.0
altair_viewer==0.4.0
AppKit==0.2.8
atheris==2.3.0
beautifulsoup4==4.12.3
bjoern==3.2.2
bokeh==3.6.2
boto3==1.35.81
botocore==1.35.81
brotli==1.1.0
brotlicffi==1.1.0.0
cftime==1.6.4.post1
chart_studio==1.1.0
Cheetah==2.4.4
cheroot==10.0.1
cherrypy==18.10.0
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==2.8
ctypes_snappy==1.03
cycler==0.12.1
Cython==3.0.11
cytoolz==1.0.1
dask==2024.12.0
defusedxml==0.7.1
diesel==3.0.24
django_debug_toolbar==2.1
dl==0.1.0
docutils==0.15.2
eventlet==0.26.1
fastparquet==2024.11.0
flup==1.0.3
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2024.10.0
genapi==0.0.8
gevent==1.4.0
gitdb_speedups==0.1.0
gssapi==1.9.0
gunicorn==19.9.0
HTMLParser==0.0.2
hypothesis==6.122.3
ipaddr==2.2.0
ipython==8.30.0
ipywidgets==8.1.5
isoduration==20.11.0
JPype1==1.5.1
jsonpointer==3.0.0
keyring==25.5.0
lxml==4.4.1
lz4==4.3.3
Mako==1.3.8
matplotlib==3.10.0
meinheld==1.0.2
mock==5.1.0
mtrand==0.1
mypy==1.13.0
mysql_connector_python==8.0.33
nose==1.3.7
numarray==1.5.1
Numeric==24.2
numexpr==2.10.2
oci==2.140.0
odfpy==1.4.1
olefile==0.47
openpyxl==3.1.5
ordereddict==1.1
PasteScript==3.6.0
pg8000==1.31.2
pickle5==0.0.12
plotly==5.24.1
psutil==5.8.0
psycopg2_binary==2.8.4
pycares==4.5.0
pycurl==7.45.4
pydantic==2.10.3
PyMySQL==0.9.3
PyOpenGL==3.1.7
pyOpenSSL==19.1.0
pyOpenSSL==24.3.0
pyperf==2.8.1
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.8.0
pyrsistent==0.19.3
PySide2==5.15.2.1
PySide6==6.8.1
pytest==8.3.4
python-socketio==5.11.4
pywin32==308
pyxlsb==1.0.10
PyYAML==6.0.2
qtpy==2.4.2
regex==2024.11.6
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rocket==1.2.8
s3fs==2024.10.0
scikit_learn==1.6.0
scipy==1.14.1
sets==0.3.2
setuptools_scm==8.1.0
simplejson==3.16.0
snowflake==1.0.2
Sphinx==2.1.2
SQLAlchemy==1.2.7
sqlparse==0.3.0
statsmodels==0.14.4
sympy==1.13.3
tables==3.10.1
testbench==0.1.2
traitlets==5.14.3
uri_template==1.3.0
urllib3_secure_extra==0.1.0
waitress==3.0.2
webcolors==24.11.1
wincertstore==0.2.1
xarray==2024.11.0
xlrd==1.2.0
XlsxWriter==1.1.8
xlwt==1.3.0
xmlrpclib==1.0.1
zstandard==0.23.0
